<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>

<body>
    <% if (token) { %>
    <div>Token created successfully! <%= token %></div>
    <% } %>
    <a href="/">
        <button type="button">OK</button>
    </a>
</body>

</html>